In [1]:
# the purpose of this code is to:
# 1) find all employees whose first name is "John"
# 2) select those of them whose job is "Stage Electrician"
# 3) select those of them whose BasePay is greater than 1000
# that requires 3 conditions


# import the necessary library
import pandas as pd


# read data from CSV file
df = pd.read_csv("Salaries.csv")


# apply the 3 conditions for selection
df[(df["EmployeeName"].apply(lambda x: x[0:4]=="John")) & (df["JobTitle"]=="Stage Electrician") & (df["BasePay"]>1000)]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
109791,109792,John P Boatwright,Stage Electrician,1013.4,0.00,0.0,10.13,1013.40,1023.53,2013,NaN,San Francisco,NaN
128068,128069,John P Boatwright,Stage Electrician,89817.0,5418.08,0.0,11090.87,95235.08,106325.95,2014,NaN,San Francisco,NaN